
:root{
    --background-color: #000000;
    --border-color: #505050;
    --font-family: 'Quicksand', sans-serif;
    --font-color: #ffffff;
    --education-color: #6ADFC1;
    --project-color: #EA638D;
    --work-color: #F6D95F;
    --font-size-h1: 22px;
    --font-size-h2: 20px;
    --font-size-h3: 18px;
    --font-size-p: 16px;
}

#app, footer {
    display:flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: var(--font-size-p);
    color: var(--font-color);
    background-color: var(--background-color);
    gap:20px;
}

.footer-container{
    padding: 20px;
}

a {
    color: var(--font-color);
    text-decoration: underline;
}

h2{
    font-size: var(--font-size-h2);
}

.portait-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 150px;
}

.portrait{
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

.aboutMe-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.aboutMe-textContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #505050;
    border-width: 10px;
}
p{
    text-align: justify;
}
.years-container{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.year{
    display: grid;
    width:calc(80% + 60px);
    height:max-content;
    justify-self: center;
    justify-items: center;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr;
    gap:20px
}
.year-line{
    height: 100%;
    width: 100%;
    background-color: var(--border-color);
    grid-column: 2;
    grid-row: 1;
}
.year-left{
    width: 100%;
    height: fit-content;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 20px; 
}
.year-right{
    width: 100%;
    height: fit-content;
    grid-column: 3;
    grid-row: 1;
    margin-bottom: 20px;
}
.event{
    background-color: aqua;
    border-radius: 15px;
    border-style: solid;
    border-color: #505050;
    border-width: 10px;
    padding: 20px;
}
