body {
    /* --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);*/
    font-family: 'Quicksand', sans-serif;
    font-size: 18px; 
}

#app {
    /* margin: 2em;
    line-height: 1.5;
    font-weight: 500; */
}

a {
    color: #505050;
    text-decoration: underline;
}

h2{
    font-size: 20px;
}
#portait-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 150px;
}

#portrait{
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

#aboutMe-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#aboutMe-textContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #505050;;
    border-width: 15px;
}
p{
    text-align: justify;
}

/* .aboutMe-h1 .aboutMe-h2 .aboutMe-h3 .aboutMe-p{
    margin: auto auto 0 0;
} */