
:root{
    --background-color: #000000;
    --border-color: #505050;
    --font-family: 'Quicksand', sans-serif;
    --font-color: #ffffff;
    --font-size-h1: 22px;
    --font-size-h2: 20px;
    --font-size-h3: 18px;
    --font-size-p: 16px;
}

#app {
    font-family: var(--font-family);
    font-size: var(--font-size-p);
    color: var(--font-color);
    background-color: var(--background-color);
}

a {
    color: #505050;
    text-decoration: underline;
}

h2{
    font-size: var(--font-size-h2);
}

.portait-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 150px;
}

.portrait{
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

.aboutMe-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.aboutMe-textContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #505050;
    border-width: 15px;
}
p{
    text-align: justify;
}
.years-container{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.year{
    display: grid;
    grid-template-columns: auto auto 20px auto auto;
    grid-template-rows: 1fr;
    height:100px;
}
.year-line{
    height: 100%;
    width: 100%;
    background-color: var(--border-color);
    grid-column: 3;
    grid-row: 1;
}
.year-experience{
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    background-color: aquamarine;
}
.year-education{
    height: 100%;
    width: 100%;
    grid-column: 5;
    grid-row: 1;
    background-color: aqua;
}
.year-projects1{
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    background-color: blueviolet;
}
.year-projects2{
    height: 100%;
    width: 100%;
    grid-column: 4;
    grid-row: 1;
    background-color: chocolate;
}
